{% extends 'base.html.twig' %}

{% block title %}Create order{% endblock %}

{% block body %}
<h1 class="h3 mb-3 font-weight-normal">Please submit an order</h1>
<form method="post">
    {% if error is defined %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    {{ form(orderForm) }}


</form>

    <a href="{{ path('app_dashboard') }}">View orders history</a>
{% endblock %}
